mat-toolbar.mat-elevation-z5(color="primary")
  .nav-header(routerLink="/login") PoiAdmin
  .navbuttons(*ngIf="authService.user_is_logged_in()")
    button(mat-button "[matMenuTriggerFor]"="menu")
      span Menu
      mat-icon keyboard_arrow_down

mat-menu("#menu"="matMenu" "[overlapTrigger]"="false")
  button(mat-menu-item routerLink="/categoryexplorer") Kategóriák böngészése
  button(mat-menu-item routerLink="/login" "(click)"="logout()") Kijelentkezés

